/* General layout for the Users page */
.container {
    width: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Arial', sans-serif;
}

th {
    background-color: #333;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:hover td {
    background-color: #f1f1f1;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.add-button {
    background-color: #01F9C6;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 100px;
    margin: 20px auto;
    text-align: center;
}

.add-button:hover, .add-button:focus {
    background-color: #B6B6B4;
    border-color: #B6B6B4;
}
