
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
 
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .topnav a.active {
    background-color: #01F9C6;
    color: white;
  }
  .p3 {
    margin-left: 79%;
    border-color: #01F9C6;
    width: 3%;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    color: black;
    cursor: pointer;
  }
  .p3:hover , .p3:focus {
    
    background-color: #01F9C6;
    border-radius: 50%;
  }
.logo {
    background-color: #01F9C6;
    display: flex;
}
img {
    width: 25%;
    margin-top: 0%;
    margin-left: 8.5%;
}
#logo1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    margin-left: 17%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 16%;
    margin-top: 0%;
    
}
#t1, #t2,#t3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xx-large;
    margin-left: -150%;
    margin-top: 30%;
    margin-bottom: 0%;
    font-style:inherit;
}
#t2 {
    margin-left: -110%;
}
span {
 color: white;
}
.footer {
    background-color: #333;
    width: 100%;
    height: 200px;
    display: flex
}
#t4 {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 100%;
    margin-left: 8%;
}
ul {
    margin-top: -98%;
    margin-left: 8%;
    color: white;
}
.l1 {
    margin-top: 14%;
    margin-left: -10%;
    
    
}
.l2 {
    margin-top: 14.5%;
    margin-left: 35%;
}
.dropdown{
 margin-left: 87%;
  display: none;
  position: absolute;

  background-color: #333;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#a4 {
  margin-left: -54%;
}
#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10{
  color: white;
}
.show {display: block;}
#a1:hover,#a1:focus,#a2:hover, #a2:focus, #a3:hover,#a3:focus,#a4:hover,#a4:focus,#a5:hover,#a5:focus,#a6:hover,#a6:focus, #a7:hover, #a7:focus, #a8:hover,#a8:focus, #a9:hover, #a9:focus,#a10:hover,#a10:focus{
  background-color: #333;
  color: #01F9C6;
}