.left {
    width: 30%;
    height: 615px;
    background-color: #01F9C6;
}
.right { 
    width: 70%;
    height: 615;
    background-color:white;
}
.p1 {
    width: 50%;
}
.p2 {
    
    width: 50%;
    height: 390px;
}
.gen {
    display: flex;
}
.gen2 {
    display: flex;
    height: 35%;
}
#re {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5%;
    margin-left: 42.5%;
    margin-bottom: 5%;
}
#FNH {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 35%;
    margin-bottom: 2%; 
}
#LNH {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 35%;
    margin-bottom: 2%; 
}
#FNI {
    height: 24%;
    width: 120%;
    margin-left: 35%;  
}
#LNI {
    height: 24%;
    width: 120%;
    margin-left: 35%;  
}
.DB {
    background-color:#01F9C6 ;
    border-color: #01F9C6;
    height: 50%;
    width: 25%;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 19.5%;
    margin-top: 4.25%;
    cursor: pointer; 
}

.DB:hover , .DB:focus {
    background-color: #B6B6B4;
    border-color: #B6B6B4;
}
.CB {
    background-color:#01F9C6 ;
    border-color: #01F9C6;
    height: 50%;
    width: 25%;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 7.5%;
    margin-top: 4.25%;
    cursor: pointer;
}
.CB:hover , .CB:focus {
    background-color: #B6B6B4;
    border-color: #B6B6B4;
}
.BD {
    display: flex;
    height: 15%;
}
#RB {
    margin-top: 0%;
    display: block;
    margin-left: 60%;
}
img {
    width: 50%;
    margin-top: 30%;
    margin-left: 25%;
    cursor: pointer;
}
#logo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    margin-left: 37.5%;
    cursor: pointer;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 33.5%;
}
