.left {
    width: 30%;
    height: 615px;
    background-color: #01F9C6;
    
    
}
.right { 
    width: 70%;
    height: 615;
    
    
    background-color:white;
}
.gen {
    display: flex;
}
#lo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50%;
    margin-top: 9%;

}
#EmH {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15%;
    margin-top: -45%;
}
#EmI {
    height: 7%;
    width: 60%;
   
    margin-left: 15%;
    
    margin-top: 0px;
}
#PH {
    font-family: 'Seg oe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15%;
    margin-bottom: 2%;
}
#PI {
    height: 7%;
    width: 60%;
   
    margin-left: 15%;
    
    margin-top: 0px;
    margin-bottom: 0%;
}
.LB {
    background-color:#01F9C6 ;
    border-color: #01F9C6;
    height: 7%;
    width: 61%;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15%;
    margin-top: 3%;
    cursor: pointer;
    
    
}
.LB:hover , .LB:focus {
    background-color: #B6B6B4;
    border-color: #B6B6B4;
}
#SUL {
    margin-top: 0%;
    display: block;
    margin-left: 59%;
}
#NU {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    width: 50%;
    margin-top: 30%;
    margin-left: 25%;
    cursor: pointer;
}
#logo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    margin-left: 37.5%;
    cursor: pointer;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 33.5%;
    
}
#EV, #PV,#PV1,#PV2,#PV3 {
    color: red;
    font-family:'Times New Roman', Times, serif;
    margin-left: 15% ;
    margin-top: 1%;
}